<div class="home"> 
  <h1>Reimbursements</h1>


  <button><a href="##"><%= link_to "I Want To Be Reimbursed", new_pay_path %></a></button>


  <span class="view">or<a href="##"><%= link_to "View Record", pays_path %></a></span>
  
</div>