// Place all the styles related to the pays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
  width: 80%;
  margin: 5% auto 10% auto;
  text-align: center;
  font-size: 90%;
  color: #999;
}

button{
  padding: 20px;
  margin-top: 70px; 
  background-color: rgba(131,102,255,0.5);
  border-radius: 5px;
  font-size: 20px;
  border-style: none;
}
button a:link,
button a:visited{
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #333;
  display: block;
}
button:hover{
  background-color: rgba(131,102,255,0.8);
  color: #ddd
}

.view{
  padding-right: 5px;
  display: block;
  margin-top: 40px;  
  font-size: 15px;
  color: #aaa;
}
.view a{
  padding-left: 8px;
  text-decoration: none;
  font-size: 16px;
}
.view a:hover{
  text-decoration: underline;
}

table{
  margin: 5% auto 10% auto;
  font-size: 90%;
  color: #000;
}
.right{
  text-align: right;
}
.left{
  padding: 30px;
}

// 從chorme除錯功能裡面找的下拉式選單的選擇器
#pay_payer{
  position: relative;
  left: -320%;
}
#pay_description{
  width: 157px;
  height: 71px;
}
//


.remarks{
  padding-bottom: 65px;
}


// 表單的submit
.send input{
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  margin: 20% 100% 10% 144%;
  color: #fff;
  font-size: 14px;
  background-color: rgba(167,175,255,0.9);
}
.send input:hover{
  background-color: rgb(167,175,255);
  cursor: pointer;
}
//

.list_wrap{
  width: 80%;
  margin: 5% auto 10% auto;
}
.list{
  width: 100%;
}
caption{
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0.3em 0.3em 1.9em 0.3em;
  color: #999;
  text-shadow: 1px 1px 2px #999;
}
.list th:nth-child(odd){
  padding: 0.3em;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #999;
}
.list th:nth-child(even){
  padding: 0.3em;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #999;
}
.list td{
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.del a{
  text-decoration: none;
  color: #f34;
  font-size: 18px;
}
.del a:hover{
  text-decoration: underline;
  color: #35f;
}

.page{
  display: block;
  
}

button.back{
  padding: 8px;
  margin: -10% 40% 1% 45%; 
  background-color: rgba(131,102,255,0.5);
  border-radius: 5px;
  // text-decoration: none;
  font-size: 20px;
  border-style: none;
}
button.back:hover{
  background-color: rgba(131,102,255,0.8)
}

.confirm{
  width: 25px;
  height: 25px;
}






